{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>a bientôt !</title>
</head>
<body>
<h1>Byebye {{  nom }} !</h1>

<footer>Responsable du site : {{ webmaster }}.</footer>
</body>
</html>
